
    <p>
        <form ng-submit="$ctrl.sendUrl()">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <input id="url" type="url" class="form-control form-control-lg" ng-model="$ctrl.url" placeholder="Coloque seu link aqui. Ex.: http://www.google.com.br" required >
                </div>
                <div class="col-md-2 col-sm-2 ">
                    <button type="submit"
                            class="btn btn-outline-dark btn-lg float-right">Encurtar</button>
                </div>
            </div>

        </form>
    </p>

    <div class="collapse" ng-class="{'show': $ctrl.shortUrl}" id="shorten-result">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-8">
                    <input type="text" class="form-control" readonly placeholder="{{$ctrl.shortUrl.content}}">
                    <small id="shortUrlCopiedMessage" class="form-text text-muted">{{$ctrl.shortUrlCopiedMessage}}</small>

                </div>
                <div class="col-md-8 col-4 ">
                    <button type="button"
                            class="btn btn-light float-right"
                            ngclipboard
                            data-clipboard-text="{{$ctrl.shortUrl.content}}"
                            ngclipboard-success="$ctrl.shortUrlCopied('Copiado!')"
                            ngclipboard-error="$ctrl.shortUrlCopied('Falha ao copiar. Por favor, tente copiar a url manualmente.')">
                        <i class="far fa-copy"></i> Copiar</button>
                </div>
            </div>
        </div>
    </div>
